@import url(http://fonts.googleapis.com/earlyaccess/jejumyeongjo.css);
@import url(http://fonts.googleapis.com/earlyaccess/jejugothic.css);
@import url(http://fonts.googleapis.com/earlyaccess/hanna.css);
@import url(http://fonts.googleapis.com/earlyaccess/kopubbatang.css);

body {
  padding-top: 70px;
}
h1, h2 {
  /*color: #FCA205;*/
  font-family: 'Jeju Gothic', serif;
}

h3, h4 {
  /*color: #FCA205;*/
  font-family: 'KoPub Batang', serif;
}

p {
  font-family: 'KoPub Batang', serif;
}

nav {
  /*font-family: 'Hanna', serif;*/
  font-family: 'KoPub Batang', serif;
}

a.algoritm-name{
  font-family: 'Jeju Gothic', serif;
  color: #000000;
  text-decoration: none;
}

div.algorithm-name{
  background: #26aae1;
  margin-top: -40px;
  margin-bottom: 60px;
  margin-left: -85px;
  margin-right: -85px;
  padding-top: 35px;
  padding-bottom: 25px;
  padding-left: 82px;

}

.badge {
  font-family: 'Jeju Gothic', serif;
}
