{% extends "firstpage/layout.html" %}
{% load staticfiles %}
{% block title %}
{{algorithm}}
{% endblock %}


{% block content %}
  <div class="container">



    {% for algorithm in algorithms %}
    <div class="row algorithm-name">
      <h1>
        {{algorithm.korname}}({{algorithm.name}})
        <a class="badge badge-danger" href="/introductions/{{algorithm.name}}">더 알아보기</a>
      </h1>

    </div>


    <div class="row">

      <div class="col-md-6">
        <p>데이터셋 설명</p>
      </div>

      <div class="col-md-6">
        <table class="table table-sm">
          <thead>
            <tr>
              <th>#</th>
              <th>Feature 1</th>
              <th>Feature 1</th>
              <th>Y</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>2.3</td>
              <td>3.2</td>
              <td>1</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>2.3</td>
              <td>3.4</td>
              <td>0</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>2.3</td>
              <td>3.4</td>
              <td>1</td>
            </tr>
          </tbody>
        </table>
      </div>




      <div class="col-xs-12">
        <div class="bk-root">
            <div class="bk-plotdiv" id="{{algorithm.chartid}}"></div>
        </div>
        <script type="text/javascript" src="{% static ""%}firstpage/charts/{{algorithm.name}}.js" > </script>
        <p>
          디버그문구ㅠ
          "{% static "" %}firstpage/charts/{{algorithm.name}}.js"
        </p>
      </div>

      {% endfor %}
    </div>

  </div>
{% endblock %}
