{% extends "firstpage/layout.html" %}
{% load staticfiles %}
{% block title %}
firstpage
{% endblock %}


{% block content %}
  <div class="container">
    <div class="row">
        <div class="col-sm-4 col-md-12">
          <h3>지도학습</h3>
        </div>
    </div>

    <div class="row">

      {% for algorithm in supervised_algorithms %}
      <div class="col-sm-4 text-center">
        <div class="text-center">
          <img src="{% static ""%}firstpage/assets/images/{{algorithm.name}}.png" class="img-fluid">
          <h4>
            <a class="algoritm-name" href="/algorithms/{{algorithm.name}}">{{algorithm.korname}}</a>
          </h4>
          <p>
            {{algorithm.name}}
          </p>
          <br />
        </div>
      </div>
      {% endfor %}

    </div>

    <div class="row">
        <div class="col-sm-4 col-md-12">
          <h3>비지도학습</h3>
        </div>
    </div>

    <div class="row">

      {% for algorithm in unsupervised_algorithms %}
      <div class="col-sm-4 text-center">
        <div class="text-center">
          <img src="{% static ""%}firstpage/assets/images/{{algorithm.name}}.png" class="img-fluid">
          <h4>
            <a class="algoritm-name" href="/algorithms/{{algorithm.name}}">{{algorithm.korname}}</a>
          </h4>
          <p>
            {{algorithm.name}}
          </p>
          <br />
        </div>
      </div>
      {% endfor %}

    </div>
  </div>
{% endblock %}
