{% extends "firstpage/layout.html" %}
{% block title %}
{{introduction}}
{% endblock %}


{% block content %}
  <div class="container">

    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({
        tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]},
        CommonHTML: {
          scale: 70
        }
      });
    </script>
    <script type="text/javascript" async
      src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-MML-AM_CHTML">
    </script>

    {% for algorithm in algorithms %}
    <div class="algorithm-name">
      <h1>{{algorithm.name}} (알고리즘설명페이지) <a class="badge badge-success" href="/algorithms/{{algorithm.name}}">시각화</a></h1>
    </div>

    <div class="row">
      <div class="col col-sm-6 ">
        <p>
          {{algorithm.introduction}}
        </p>
      </div>

      <div class="col col-sm-6">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="도움이되는 링크 등록">
          <span class="input-group-btn">
            <button class="btn btn-secondary" type="button">추가</button>
          </span>
        </div>
        <br />
        <div>
          <h4>title</h4>
          <p>
            content
          </p>
          <h4>title</h4>
          <p>
            content
          </p>
          <h4>title</h4>
          <p>
            content
          </p>
        </div>
      </div>
    </div>

    {% endfor %}
  </div>
{% endblock %}
